@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Merriweather&family=Nunito&family=Poppins&family=Exo&family=Lato&family=Inter&family=Bebas+Neue&family=Raleway&family=Rubik&family=Orbitron&display=swap');
@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-dark-green: oklch(16.9% 0.08 156.9);
  --color-parchment: oklch(90.2% 0.06 84.5); /*f1dcb2*/
  --color-bittersweet-shimmer : oklch(51.8% 0.18 22.6); /* b92934*/
  --color-kelly-green: oklch(65.4% 0.22 135.3); /* 49ab00*/
  --color-yellow-green: oklch(77.1% 0.19 107.2); /* c3bb00 */
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

}

/* to prevent text selection when clicking buttons */
button, svg, .no-select {
  @apply select-none;
}

.ProseMirror ul li::marker {
  color: black; 

}
